* {
  margin: 0;
  padding: 0;
  border-size: border-box;
}

html, body {
  height: auto;
  background: #fdfbfb;
  font-family: 'Balsamiq Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

th, td {  
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.color {  
  background-color: rgba(255, 234, 0, 0.583);
}

.card {
  width: 100%;
  padding: 30px 180px 200px 200px;
  border: 6px solid rgba(0, 0, 0, 0.3);
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  position: relative;
}

.card h2 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-transform: uppercase;
  text-align:center
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align:center
}

.card .row {
  position: relative;
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.row-2{
  position: relative;
  width: 100%;
  display: flex;
  grid: auto / auto auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.encabezado {
    position: relative;
    width: 100%;
    display: grid;
    grid: auto / auto auto;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.card .row .col {
  position: relative;
  width: 100%;
  margin: 15px 150px 0px 0;
  transition: 0.1s;
}

.card .row .form-group {
  position: relative;
  width: 100%;
  height: 40px;
  color: #070707;
}

.card .row .form-group input, select,
.card .row .form-group textarea {
  position: absolute;
  width: auto;
  height: auto;
  background: transparent;
  outline: none;
  font-size: 20px;
  padding: 10px 0 10px 20px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  /*box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);*/
  color: #080808;
  border-radius: 50px;
}

fieldset {
  
  font-size: 20px;
  padding: 10px 20px 20px 20px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  /*box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);*/
  color: #080808;
  border-radius: 50px;
  width: 50%;
	margin: 0 auto;
}

.ftam {
  width:1050px;
}

.ftamM {
  width: 950px;
}

.centrado {
  text-align: center;
  display: block;
  margin: auto;
}

.card .row .form-group label, option {
  line-height: 20px;
  color: #0a0a0a;
  font-size: 20px;
  margin: 0 0 0 0px;
  display: block;
  pointer-events: none;
}

.selTam{
  height: auto;
}
.row .col:nth-child(6) {
  margin-top: 64px;
}

.card .row .form-group input:focus, select:focus,
.card .row .form-group textarea:focus {
  border: 5px solid #0c0c0c;
  transition: all 0.5s;
}

.card .row input[type="submit"] {
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  height: 100%;
  width: 70%;
  cursor: pointer;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  color: #0a0a0a;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 10px;
  transition: all 0.4s;
}



#cbox {
  width: 20px;
  height: 20px;
}

.tds{
  text-align: center;
  border: 15px solid rgb(252, 252, 252);
  border-collapse: collapse;
  
}

.card .row input[type="submit"]:hover, button:hover {
  border: 5px solid rgb(12, 12, 12);
  color: #0c0c0c;
  transition: all 0.4s;
}

.select-color  {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Estilos para las secciones */
.seccion {
  display: none;
}

.seccion1 {
  display: block;
}

/* Estilos para los botones */
.boton-siguiente {
  position: absolute;
  bottom: 100px;
  right: 262px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  color: #0a0a0a;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 10px;
  transition: all 0.4s;
}

.boton-imprimir{
  position: absolute;
  bottom: 100px;
  right: 562px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  color: #0a0a0a;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 10px;
  transition: all 0.4s;
}

@media screen and (max-width: 900px) {
  .card .row {
    grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
  }
  
  .card {
    padding: 20px;
  }
  
  .card h2 {
    font-size: 34px;
  }
  
  .card .row input[type="submit"] {
    width: 100%;
  }


}
